{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "root": true,
  "env": {
    "node": true,
    "es2020": true,
    "mocha": true,
    "mongo": true
  },
  "globals": {
    "io": "writable",
    "logger": "writable",
    "CustomError": "writable"
  },
  "rules": {
    "semi": "error",
    "radix": ["error", "always"],
    "id-length": ["error", {
      "min": 2,
      "max": 30,
      "exceptions": ["v", "$", "i", "_"]
    }],
    "camelcase": ["error", {
      "ignoreDestructuring": true,
      "allow": ["test_id"]
    }],
    "quotes": ["error", "single"],
    "prefer-const": "error",
    "no-plusplus": "error",
    "eqeqeq": "error",
    "curly": "error",
    "quote-props": ["error", "as-needed"],
    "object-shorthand": "error",
    "array-callback-return": "error",
    "prefer-destructuring": "error",
    "prefer-template": "error",
    "template-curly-spacing": ["error", "never"],
    "no-loop-func": "error",
    "prefer-rest-params": "error",
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-before-blocks": "error",
    "no-param-reassign": "error",
    "prefer-arrow-callback": ["error"],
    "arrow-spacing": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "implicit-arrow-linebreak": ["error", "beside"],
    "no-useless-constructor": "error",
    "no-dupe-class-members": "error",
    "class-methods-use-this": "error",
    "dot-notation": "error",
    "no-multi-assign": "error",
    "max-len": ["error", {
      "code": 200,
      "tabWidth": 4,
      "ignoreUrls": true,
      "ignoreRegExpLiterals": true,
      "ignoreTemplateLiterals": true
    }],
    "max-params": ["error", 4],
    "operator-linebreak": ["error", "none", {
      "overrides": {
        "||": "before",
        "&&": "before",
        "?": "before",
        ":": "before"
      }
    }],
    "no-unneeded-ternary": "error",
    "no-nested-ternary": "error",
    "no-mixed-operators": "error",
    "brace-style": "error",
    "no-else-return": "error",
    "spaced-comment": "error",
    "indent": ["error", 4, {}],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "space-infix-ops": "error",
    "eol-last": ["error", "always"],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 3 }],
    "no-whitespace-before-property": "error",
    "padded-blocks": ["error", "never"],
    "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 1}],
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "block-spacing": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "function-paren-newline": ["error", "multiline"],
    "key-spacing": ["error", { "beforeColon": false }],
    "no-trailing-spaces": "error",
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "always-multiline"],
    "new-cap": ["error", { "capIsNew": false }],
    "no-underscore-dangle": ["error", {
      "allowAfterThis": true,
      "allowAfterSuper": true,
      "allow": ["_id"]
    }],
    "no-restricted-globals": [
      "error",
      {
        "name": "isNaN",
        "message": "Use Number.isNaN instead."
      },
      {
        "name": "isFinite",
        "message": "Use Number.isFinite instead."
      }
    ],
    "no-restricted-properties": [2,
      {
        "object": "Math",
        "property": "pow",
        "message": "Please use ** instead."
      }
    ]
  }
}
