<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%= `${origin}/css/mermaid.min.css` %>" type="text/css">
    <link rel="stylesheet" href="<%= `${origin}/css/style.css` %>" type="text/css">
</head>
<body>

<div id="wrapper"></div>

<script src="<%= `${origin}/js/grid.js` %>"></script>
<script src="<%= `${origin}/js/users-fe.js` %>"></script>
</body>
</html>
